body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0; /* Убираем дефолтные отступы */
}

/* Стили для контейнера страницы */
.container {
  max-width: 960px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Стили для логотипа */
.logo { 
  width: 30px;
  height: 30px; 
  border: 2px solid white;
}

/* Стили для информации о группе */
.group-info {
  text-align: right; 
}



/* Стили для основного контента */
main {
  display: flex;
  gap: 20px;
}

/* Стили для боковой панели */
aside {
  width: 250px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin-bottom: 20px; 
}

/* Стили для контента страницы */
section {
  flex: 1; 
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Стили для заголовков */
h1, h2, h3 {
  margin-top: 0; 
}

/* Стили для текста */
p {
  margin-bottom: 10px; 
}

/* Стили для изображений */
img {
  max-width: 100%; 
  height: auto;
  display: block; /* Убираем отступ снизу */
}

/* Стили для нижней ШАПКИ */
footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-top: 20px; /* Отступ сверху */
}
/* текст */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


.container {
  display: flex;
  max-width: 960px;
  margin: 2rem auto;
}
.product-card:hover {
  box-shadow: 0 0 10px rgba(33, 7, 127, 0.2);
}

.product-card:active {
  background-color: #ccc;
}
aside {
  width: 200px;
  margin-right: 20px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin: 10px 0;
}

/* Навигация по странице цвет гипер ссылок */
aside ul li a {
  color: #5d5d5d;
  text-decoration: none;
}

aside ul li a:hover {
  text-decoration: underline;
}

nav a:hover {
  background-color: #daba3a; /* Цвет фона при наведении на кнопки шапки*/
  border-radius: 5px;
}
@media (max-width: 820px){
  .container{
      max-width: 700px;
      padding: 20px;
  }
  header {
      flex-direction: column;
      align-items: center;
  }
  main{
     flex-direction: column;
  }
  aside{
      width: 100px;
     margin-bottom: 20px;
  }
  .grid-container{
      grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 390px){
  .container{
      max-width: 100%;
      padding: 15px;
  }
  nav {
      flex-direction: column;
      align-items: center;
  }
  nav a{
      font-size: 18px;
      padding: 8px;
  }
  header, aside, section, footer{
      padding: 10px;
      text-align: center;
  }
  .grid-container{
      grid-template-columns: 1fr;
  }
  .card img {
      height: 200px;
  }
  button {
      padding: 10px 15px;
      font-size: 18px;
  }
}

body {
  font-family: Arial, sans-serif;
}

#animated-paragraph {
  padding: 20px;
  transition: background-color 0.5s ease; /* Плавный переход цвета фона */
  cursor: pointer; /* Указатель при наведении */
  background-color: white; /* Начальный цвет фона */
}

.image-container {
  perspective: 1000px; /* Добавляем перспективу для 3D эффекта */
}

.rotating-image {
  width: 300px; /* Установите нужный размер изображения */
  transition: transform 0.5s; /* Плавный переход */
}

.image-container:hover .rotating-image {
  transform: rotateY(360deg); /* Вращение по оси Y */
}  
